<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyThuVien.Properties.Settings.QLTVConnectionString"
            connectionString="Data Source=DESKTOP-UE6SHMV;Initial Catalog=QLTV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>